.headerbox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pacmanimgheader{
  width: 200px;
  height: 200px;
}
.logoheader{
  width: 200px;
  height: 200px;
}

body{ 
  background-image: url("assets/backgrounds/fondo-pacman.jpg");
  }

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.firstpacman{
  width: 100px;
  height: 100px;
}

.fantasmito{
  width: 100px;
  height: 100px;
}