body{ 
  background-image: url("fondo-pacman.jpg");
  }

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.firstpacman{
  width: 100px;
  height: 100px;
}
